.hook-item:hover {
    background-color: #34313f!important;
    color: white!important;
    transition: background-color .5s
}

.hooks-accordion-toggle:hover {
    background-color: #E2E1E1!important;
    transition: background-color .5s;
    cursor: pointer;
}